create database java;
go
USE java
set dateformat DMY;
go
CREATE TABLE users (
   username   VARCHAR(45) NOT NULL,
   password VARCHAR(45)   NOT NULL,
   firstName  VARCHAR(45) NOT NULL,
   lastName VARCHAR(45)   NOT NULL,
   PRIMARY KEY (username)
) ;

INSERT INTO users values ( 'sa','sa','phung', 'le dinh') ;
select * from users


CREATE TABLE SanPham (
   id   VARCHAR(45)		NOT NULL,
   name NVARCHAR(45)		NOT NULL,
   gia  int		NOT NULL,
   loai varchar(45) NOT NULL,
   sluong int,
   filename1 VARCHAR(45) NOT NULL,
   description  VARCHAR(max),
   PRIMARY KEY (name)
) ;

INSERT INTO SanPham values ( 'dt01',N'Iphone12 Mini',120,'dienthoai',100,'dienthoai1','') ;
INSERT INTO SanPham values ( 'dt02',N'Iphone 5s kim cương',120,'dienthoai',100,'dienthoai2','') ;
INSERT INTO SanPham values ( 'dt03',N'SamSung Fold',120,'dienthoai',100,'dienthoai3','') ;






select * from SanPham